<p id= 'notice'> <%= notice %> </p>

<h2>
	<strong> Name:</strong>
	<%= @kitten.name %>
</h2>

<h4>
	<strong> Age:</strong>
	<%= @kitten.age %>
</h4>

<h4>
	<strong> Cuteness:</strong>
	<%= @kitten.cuteness %>
</h4>

<p>
	<strong> Softness:</strong>
	<%= @kitten.softness %>
</p>

<p>
	<strong> Toughness:</strong>
	<%= @kitten.toughness %>
</p>

<p>
	<strong> Description:</strong>
	<%= @kitten.description %>
</p>

<%= link_to 'Edit', edit_kitten_path(@kitten) %>
<%= link_to 'Back', kitten_path %>


